<% provide(:title, 'Privacy') %>
<div class="content_main">
	<h1>Privacy Policy</h1>
	<div class="static">
		<p>
			<i>Date of last revision: November 11, 2012.</i>
		</p>
		<p>Your privacy is important and we take it seriously. This Privacy Policy describes Menantang's policies and procedures on the collection, use and disclosure of your information when you use Menantang. We will not use or share your information with anyone except as described in this Privacy Policy. Swiss Federal Data Protection Law is applicable to all data made available to Menantang.</p>
		
		<h2>Information Collection and Use</h2>
		<p>Menantang uses information it collects to analyze how the Service is used, diagnose service or technical problems, maintain security, personalize content, remember information to help you efficiently access your account, monitor aggregate metrics such as total number of visitors, traffic, and demographic patterns, and track user content and users as necessary to comply with applicable laws. Menantang may collect the following types of information:</p>
		
		<h3>Information you provide</h3>
		<p>You can use part of Menantang without signing up. If you choose to sign up for Menantang, you log in with your Facebook account. In this case, we will collect and store your name, email address, location, gender, education, work history, interests, and other information from your Facebook profile. Menantang asks for your explicit consent to access this information via the Facebook Permission dialog. During the initial signup as well as in other places on Menantang, you can provide additional data (e.g., skills, interests, job preferences).</p>
		
		<h3>Cookies</h3>
		<p>When you use Menantang, the service can store cookies on your computer. Cookies are little pieces of information that can help identify your browser and that can store information, e.g. application settings. Menantang uses cookies to track usage, to improve ease-of-use and the overall user experience.</p>

		<h3>Log information</h3>
		<p>Menantang records certain requests and transactions in log files. This log data is used for troubleshooting, statistics, quality assurance, and to monitor system security and can be analyzed to that end. Server logs may include information such as your web request, Internet protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information. Menantang can publish anonymous statistics under the condition that no personally identifiable information can be derived from such statistics.</p>
		<p>Menantang uses Google Analytics and other analytic tools to help understand use of the Service. These services collect the information sent by your browser as part of a web page request, including cookies and your IP address. These services also receive this information and their use of it is governed by their Privacy Policy.</p>
		<p>Note that you can delete your account at any time.</p>

		<h2>Information Sharing</h2>
		<p>Menantang only shares personal information with other companies or individuals outside of Menantang in the following limited circumstances:</p>
		<ul>
			<li>We have your consent. We require opt-in consent for the sharing of any sensitive personal information.</li>
			<li>We provide such information to our subsidiaries, affiliated companies or other trusted businesses or persons for the purpose of processing personal information on our behalf. We require that these parties agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.</li>
			<li>We have a good faith belief that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) enforce applicable Terms of Service, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security or technical issues, or (d) protect against harm to the rights, property or safety of Menantang, its users or the public as required or permitted by law.</li>
		</ul>
		<p>If Menantang becomes involved in a merger, acquisition, or any form of sale of some or all of its assets, we will ensure the confidentiality of any personal information involved in such transactions and provide notice before personal information is transferred and becomes subject to a different privacy policy.</p>
		<p>We may share non-personally identifiable information (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them understand the usage patterns for certain Menantang services.</p>

		<h2>Information Protection</h2>
		<p>We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data.</p>
		<p>We restrict access to personal information to Menantang employees, contractors and agents who need to know that information in order to process it on our behalf. These individuals are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to meet these obligations.</p>

		<h2>Children's Privacy</h2>
		<p>Protecting the privacy of young children is especially important. If you are under 13, please do not attempt to register for Menantang or provide any personal information about yourself to us. If we become aware that we have collected personal information from a child under age 13, we take steps to remove that information. If you believe that we might have any information from a child under age 13, please contact us at privacy@Menantang.com.</p>

		<h2>Changes</h2>
		<p>Menantang reserves the right to update this Privacy Policy at any time. The most current version of this policy is available at <a href="https://menantang.com/static-pages/privacy">https://Menantang.com/about/privacy</a>.</p>
		<p>If you have any questions about this Privacy Policy, please contact us at privacy@menantang.com.</p>
		<p>Menantang AG, ??? , 8005 Zürich, Switzerland</p>
		<p>Company registered in Switzerland under ???</p>

	</div>
</div>	