<% provide(:title, 'Terms') %>
<div class="content_main">
	<h1>Terms of Service</h1>
	<div class="static">
		<p>
		<i>Date of last revision: November 11, 2012</i>
		</p>
		
		<h2>General</h2>
		<ol>
			<li>By using any of the Menantang products, software, or services available at *.Menantang.com (and other top-level domains) (collectively referred to as "Services") provided by Menantang AG ("Menantang"), you agree to be bound by the following terms and conditions ("Terms of Service").</li>
			<li>You must be 13 years or older to use the Site and Services.</li>
			<li> Menantang reserves the right to update and change the Terms of Service at any time without notice. You can review the most current version of the Terms of Service at <a href="https://Menantang.com/about/terms">https://Menantang.com/about/terms</a>
			If the revision, in our sole discretion, is material we will notify you via e-mail to the email associated with your account. By continuing to access or use the service after those revisions become effective, you agree to be bound by the revised terms.
			</li>
			<li>The failure of Menantang to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.</li>
			<li>You agree that Menantang owns all legal rights in the Service. You must not remove, modify or obscure any legal notices. You are not entitled to use Menantang's trademarks (especially Menantang), trade names, brands, domain names, or other distinctive brand features.</li>
			<li>Violation of any of the terms below can result in the termination of your account or access to the Services. Violation of any of the terms will also terminate your usage rights of the Services.</li>
			<li>If a provision of this agreement is or becomes illegal, invalid or unenforceable in any jurisdiction, that shall not affect: (i) the validity or enforceability in that jurisdiction of any other provision of this agreement; or (ii) the validity or enforceability in other jurisdictions of that or any other provision of this agreement.</li>
			<li>These Terms of Service constitute the entire agreement between you and Menantang and replace all previous agreements under this title. There are no verbal subsidiary agreements.</li>
			<li>These Terms of Service, and your relationship with Menantang under these Terms of Service, shall be governed by the laws of Switzerland. You and Menantang agree to submit to the exclusive jurisdiction of the courts located in Zurich, Switzerland, to resolve any legal matter arising from the Terms of Service.</li>
			<li>You can delete your account at any time. When you delete your account, all information associated with your account will be deleted permanently.</li>
		</ol>
		
		<h2>Provision of the Services by Menantang</h2>
		<ol>
			<li>Your use of the Services is at your sole risk. The Services are provided on an "as is" and "as available" basis.</li>
			<li>Menantang does not warrant that (i) the Services will meet your requirements or expectations, (ii) the Services will be delivered uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the Services will be accurate or reliable, (iv) any errors in the Services will be corrected.</li>
			<li>You understand and agree that Menantang shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to any loss of profit, loss of goodwill, loss of business reputation, loss of data, cost of procurement of substitute goods or Services, or other intangible loss, resulting from: (i) the use or the inability to use the Services; (ii) any changes which Menantang may make to the Services, or any permanent or temporary cessation in the provision of the Services; (iii) unauthorized access to or alteration of your transmissions or data; (iv) the deletion of, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through the use of the Services; (v) or any other matter relating to the Services.</li>
			<li>Technical support is provided on a best-effort basis and only by e-mail.</li>
			<li>You understand that Menantang can use third parties (e.g., hosting partners) to provide the necessary resources (e.g., hardware, software, networking, storage, etc.) to run the Services.</li>
			<li>Menantang may stop, remove, modify, or add (permanently or temporarily) Services (or features within Services) at Menantang's sole discretion. Any new, changed, or removed features are subject to the Terms of Service. Continued use of the Services after any such changes constitute your consent to the changes.</li>
			<li>The Service may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Menantang of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge slie responsibility for and assume all risk arising from your use of any such websites or resources.</li>
		</ol>
		
		<h2>Use of the Services by you</h2>
		<ol>
			<li>You agree to use the Services only for purposes that are permitted by (i) the Terms of Service and (ii) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions.</li>
			<li>For certain services, Menantang may offer or require you to register for an account. You ensure that all registration information you provide will always be valid, correct, and up to date. You are responsible for maintaining the security of your account and password. Accounts registered by bots or other automated methods are not permitted.</li>
			<li>For certain services, Menantang may offer to upload your personal profile photo. You are responsible to not upload an abusive photo, to not infringe on any copyrights or trademarks, and to not use a design which other Menantang users may deem offensive.</li>
			<li>For certain services, Menantang may offer to define a personal URL (web address). You understand that Menantang can rename or reject your personal URL, e.g., if you intentionally or unintentionally interfere with a trademark owner or because your personal URL is deemed offensive.</li>
			<li>You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).</li>
			<li>You agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose without the express written permission by Menantang.</li>
			<li>You agree that you are solely responsible for (and that Menantang has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Service and for the consequences (including any loss or damage which Menantang may suffer) of any such breach.</li>
			<li>You agree to Menantang's privacy policy, as available at <a href="https://Menantang.com/about/privacy">https://menantang.com/static-pages/privacy</a>.</li>
			<li>Menantang reserves the right (but has no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all content or account from any of the Services at Menantang's sole discretion. You understand that by using the Services you may be exposed to content that you may find offensive, indecent or objectionable and that, in this respect, you use the Services at your own risk.</li>
			<li>You may not use the Service for any unlawful purposes or for promotion of illegal activities. You may not post any content on the Service in violation of any applicable law, including intellectual property laws and right of privacy or publicity laws, or any contractual obligation. International users agree to comply with all local laws regarding online conduct and acceptable content.</li>
			<li>You may not post content or use the Service to create an impression that you know is incorrect, misleading, or deceptive. This includes creating false or misleading Plans.</li>
			<li>You may not post content that is hateful, abusive, threatening, profane, or otherwise objectionable.</li>
			<li>Impersonation: You may not impersonate others through the Service or otherwise misrepresent your affiliation with a person or entity in a manner that does or is intended to mislead, confuse, or deceive others.</li>
			<li>You may not publish or post other people's private or personally identifiable information, such as credit card numbers, street address or Social Security/National Identity numbers, without their express authorization and permission.</li>
			<li>You may not use the Service for the purpose of spamming anyone.</li>
			<li>You may not publish or link to malicious content intended to damage or disrupt another user's browser or computer or to compromise a user's privacy.</li>
		</ol>
		
		<p>If you have any questions regarding this agreement, or if you are aware of any abuse of these terms, please contact us at terms@menantang.com.</p>
		<p>Menantang AG, ??? , 8005 Zürich, Switzerland</p>
		<p>Company registered in Switzerland under ???</p>
	</div>
</div>